In [49]:
import pandas as pd
import numpy as np

f = open("data3.txt", "r")
lines = f.readlines()
lines = [l[:-1] for l in lines]
df = pd.DataFrame(lines, columns=["input"])
df['len'] = df.input.str.len()
df['semilen'] = (df.len/2).astype('int')
df.head()

                                      input  len  semilen
0              pqgZZSZgcZJqpzBbqTbbLjBDBLhB   28       14
1                    wHptFFsHttHFLMDQDFTbbj   22       11
2  fVfvsstwPHwNwfNGfHWRSnlpClcJzCWCzddSrddg   40       20
3              bdgHbZJHgMHgJgJctDtVssVcpFtq   28       14
4                          rNNQqBSzTcBPTDsP   16        8

In [50]:
df['part1'] = df.apply(lambda x: x['input'][:x['semilen']], axis=1)
df['part2'] = df.apply(lambda x: x['input'][x['semilen']:], axis=1)
df['common'] = df.apply(lambda x: list(set(x['part1'])&set(x['part2']))[0], axis=1)
df.head()

,input,len,semilen,part1,part2,common
0,pqgZZSZgcZJqpzBbqTbbLjBDBLhB,28,14,pqgZZSZgcZJqpz,BbqTbbLjBDBLhB,q
1,wHptFFsHttHFLMDQDFTbbj,22,11,wHptFFsHttH,FLMDQDFTbbj,F
2,fVfvsstwPHwNwfNGfHWRSnlpClcJzCWCzddSrddg,40,20,fVfvsstwPHwNwfNGfHWR,SnlpClcJzCWCzddSrddg,W
3,bdgHbZJHgMHgJgJctDtVssVcpFtq,28,14,bdgHbZJHgMHgJg,JctDtVssVcpFtq,J
4,rNNQqBSzTcBPTDsP,16,8,rNNQqBSz,TcBPTDsP,B

In [51]:
ord('a'), ord('z'), ord('A'), ord('Z')

(97, 122, 65, 90)

In [52]:
def f(c):
    n = ord(c)
    if n>96: # lowercase
        n -= 96
    else: # uppercase
        n -= (64-26)
    return n
df['priority'] = df.apply(lambda x: f(x['common']), axis=1)
df.head()

,input,len,semilen,part1,part2,common,priority
0,pqgZZSZgcZJqpzBbqTbbLjBDBLhB,28,14,pqgZZSZgcZJqpz,BbqTbbLjBDBLhB,q,17
1,wHptFFsHttHFLMDQDFTbbj,22,11,wHptFFsHttH,FLMDQDFTbbj,F,32
2,fVfvsstwPHwNwfNGfHWRSnlpClcJzCWCzddSrddg,40,20,fVfvsstwPHwNwfNGfHWR,SnlpClcJzCWCzddSrddg,W,49
3,bdgHbZJHgMHgJgJctDtVssVcpFtq,28,14,bdgHbZJHgMHgJg,JctDtVssVcpFtq,J,36
4,rNNQqBSzTcBPTDsP,16,8,rNNQqBSz,TcBPTDsP,B,28

In [53]:
df['priority'].sum()

8240

In [54]:
df.drop(["len", "semilen", "part1", "part2", "common", "priority"], axis=1, inplace=True)
df.head()

                                      input
0              pqgZZSZgcZJqpzBbqTbbLjBDBLhB
1                    wHptFFsHttHFLMDQDFTbbj
2  fVfvsstwPHwNwfNGfHWRSnlpClcJzCWCzddSrddg
3              bdgHbZJHgMHgJgJctDtVssVcpFtq
4                          rNNQqBSzTcBPTDsP

In [58]:
df['input2'] = df.input.shift(-1)
df['input3'] = df.input.shift(-2)
df = df.iloc[::3]
df.head()

,input,input2,input3
0,pqgZZSZgcZJqpzBbqTbbLjBDBLhB,wHptFFsHttHFLMDQDFTbbj,fVfvsstwPHwNwfNGfHWRSnlpClcJzCWCzddSrddg
3,bdgHbZJHgMHgJgJctDtVssVcpFtq,rNNQqBSzTcBPTDsP,GWNNrhGnNnWNzRfnRQRbhCdqHMbdmbZddbmCmd
6,BSBDzrSwrqccDDwbfcBjsRwggClslTRWGWGMFlsF,dnhVhLJtzNZdgCRlsTGWCRJG,ZHZdNzptLNtPhPdnprPbbDBrSqrSQPjbqD
9,rlSwlrGvwTTSwSggCJGQJdhVgJGQ,jcrHrMWfNHNzQgVH,WbfjmBMrBrrmLtqMbwwsPTvPpwvBPFPsws
12,NRNcHzbzbMRcNPjPrrlBPlbtBl,CZwVCCpWggqprwtlHlssHtPr,WpmLghCVCqCnmVTLnccRQvvQQHDhNQzzzc

In [62]:
df['common'] = df.apply(lambda x: list(set(x['input'])&set(x['input2'])&set(x['input3']))[0], axis=1)

df.head()

,input,input2,input3,common
0,pqgZZSZgcZJqpzBbqTbbLjBDBLhB,wHptFFsHttHFLMDQDFTbbj,fVfvsstwPHwNwfNGfHWRSnlpClcJzCWCzddSrddg,p
3,bdgHbZJHgMHgJgJctDtVssVcpFtq,rNNQqBSzTcBPTDsP,GWNNrhGnNnWNzRfnRQRbhCdqHMbdmbZddbmCmd,q
6,BSBDzrSwrqccDDwbfcBjsRwggClslTRWGWGMFlsF,dnhVhLJtzNZdgCRlsTGWCRJG,ZHZdNzptLNtPhPdnprPbbDBrSqrSQPjbqD,z
9,rlSwlrGvwTTSwSggCJGQJdhVgJGQ,jcrHrMWfNHNzQgVH,WbfjmBMrBrrmLtqMbwwsPTvPpwvBPFPsws,r
12,NRNcHzbzbMRcNPjPrrlBPlbtBl,CZwVCCpWggqprwtlHlssHtPr,WpmLghCVCqCnmVTLnccRQvvQQHDhNQzzzc,H